  * {
    margin: 0;
    padding: 0;
}

img {
    border: 0;
}
ol, ul, li {
    list-style: none;
}
* {
    margin: 0 auto;
}
a {
    text-decoration: none;

}
p {
    font-size: 12px;
}
#title {
    background-image: url('../img/main.png');
    width: 100%;
    min-width:1000px;
    height: 179px;
}
#top {
    width: 1000px;
    height: 179px;
    background-image: url('../img/beijing_02.png');
}
.daohang {
    overflow: hidden;
    padding-left: 50px;
    margin-top: 10px;
}
.daohang li {
    float: left;
    list-style: none;
    margin-left: 37px;
    text-align: right;
}
.daohang li a {
    color: black;
}
.daohang li a p {
    color: #b3b3b3;
}
#body {
    background-image: url('../img/2013022060299565.jpg');
    width: 100%;
    min-width: 1000px;
    height: 465px;
    position: relative;
}
#body-1 {
    width: 1000px;
    height: 98px;
    margin: auto;
    margin-top:2px;

}
.body-1-1{
    width:259px;
    height:98px;
    background:url(../img/1.png);
    margin-left:0px;
    float: left;
}
.body-1-1 a{
    display:block;
    height:100%;
    width:100%;
}

.body-1-2{
    width:188px;
    height:98px;
    background:url(../img/2.png);
    float: left;
    margin-left:2px;

}
.body-1-2 a{
    display:block;
    height:100%;
    width:100%;
}

.body-1-3{
    width:184px;
    height:98px;
    background:url(../img/3.png);
    float: left;
    margin-left:1px;
    position:relative;
}
.body-1-3-1{
    position:absolute;
    border-radius: 100%;
    width:42px;
    height:42px;
    top: 45px;
    left:25px;
}

.body-1-3-2{
    position:absolute;
    border-radius: 100%;
    width:42px;
    height:42px;
    top: 45px;
    left:68px;
}
.body-1-3-3{
    position:absolute;
    border-radius: 100%;
    width:42px;
    height:42px;
    top: 45px;
    left:110px;
}
.body-1-3-3 a{
    display: block;
    width:100%;
    height:100%;
}
.body-1-3-2 a{
    display: block;
    width:100%;
    height:100%;
}
.body-1-3-1 a{
    display: block;
    width:100%;
    height:100%;
}


.body-1-4{
    width:364px;
    height:98px;
    background:url(../img/4.png);
    float: left;
    margin-left:2px;

}
.body-1-4 a{
    display:block;
    height:100%;
    width:100%;
}

.daohang li:hover a {
    color: red;
}
.daohang li:hover a p {
    color: black;
}
.body-center {
    width: 1000px;
    height: 34px;
    position: absolute;
    bottom: 0;
    left:50%;
    margin-left:-500px;
}
.body-center ul li{
    float:left;
    width:195px;
    height:34px;
    background:black;
    margin-left:5px;
    color:#fff;
    line-height: 34px;
    padding-left:20px;
}
.body-center ul li:hover{
    background:red;
}
#left{
    width:37px;
    height:34px;
    background:url(../img/arr.png) no-repeat;
    margin-left:0;
}
#right{
    width:37px;
    height:34px;
    background:url(../img/arr.png) no-repeat;
    background-position: -57px 0;
}
#left:hover{
    background-position:0 -34px;
}
#right:hover{
    background-position:-57px -34px;
}

#body-2{
    width:1000px;
    height:1100px;
    margin-top:10px;
    position:relative;
}
.body-2-left{
    width:300px;
    height:1100px;
    float: left;
}

.weizhi{
position:absolute;
margin-top:10px;
left:10px;
font-size:12px;
}
.weizhi span{
    font-size:13px;
    font-weight: bold;
}
.left-1{
    width:291px;
    height:63px;
    background:url(../img/fenlei_03.png);
    margin-top:35px;
    margin-left:10px;
}
.left-2{
    height:33px;
    width:291px;
    margin-left:10px;
    margin-top:10px;
    background:#dcdcdc;
}
.left-2-1{
   height:33px;
   width:27px;
   background:url(../img/huangbiao_03.png);
   float: left;
}
.left-2 p{
line-height:33px;
margin-left:40px;
color:gray;
}
.left-2:hover p{
    color:white;
}
.left-2:hover{
 background:red;
}
.left-3{
    width:291px;
    height:180px;
    margin-left:10px;
    margin-top:10px;
    text-align:center;
}
.left-3 ul li{
    line-height:25px;
}
.left-3 ul a{
    color:black;
}
.left-3 ul li:hover{
    color:red;
}
.left-4{
    width:290px;
    height:40px;
    margin-top:30px;
    background:url(../img/hotevent_03.png);
}
.left-5{
    width:291px;
    height:45px;
    margin-top: 10px;
    border-bottom:1px dashed gray;
}
.p{
    font-size:13px;
}
.left-5 p{
    font-size:10px;
    line-height:20px;
}
.left-5:hover{
color:red;
}
.left-6{
    width:292px;
    height:40px;
    background:url(../img/severse_03.png);
    margin-top:30px;
}
.left-7{
    width:292px;
    height:71px;
    margin-top:20px;
}
.left-7-left{
    width:151px;
    height:71px;
    float: left;
    font-size:12px;
    color:gray;
}
.left-7-right{
    width:141px;
    height:71px;
    background:url(../img/libg14.gif);
    float: right;
    font-size:12px;
    background-position:141px -71px;
}
.left-7-right p{
    font-size:25px;
    margin-left:18px;
    margin-top:1px;
    color:gray;
}
.left-7:hover .left-7-right{
     background-position:141px 0px;

}
.left-7:hover .left-7-left{
     color:red;
}
.left-7:hover .left-7-right span{
     color:#fff;
}
.left-7:hover .left-7-right p{
     color:#fff;
}
.body-2-right{
    width:673px;
    height:1100px;
    float: right;
}
.right-1{
    width:673px;
    height:71px;
    background:url(../img/zuoping_03.png);
    margin-top:35px;
}
.right-2{
    width:319px;
    height:330px;
    float: left;
    margin-left:12px;
}
.right-2:hover .right-2-2{
    background:yellow;
    color:red;
}
.right-2:hover .right-2-4 p{
    color:red;
}
.right-2-1{
    width:319px;
    height:239px;
    background:url(../img/datu-product_03.png);
}
.right-2-2{
   height:33px;
   width:319px;
   background:gray;
   margin-top:20px;
}
.right-2-2 span{
    line-height:33px;
    margin-left:10px;
    font-size:12px;
}
.right-2-3{
    height:33px;
    float: right;
    font-size:1px;
    margin-right:10px;
}
.right-2-3 p{
    font-size:19px;
    font-weight:bold;
    margin-left:2px;
}
.right-2-4 P{
    color:gray;
    margin-top:3px;
}



#foot{
    width:100%;
    min-width:1000px;
    height:230px;
    background:#2e2e2e;
}
.foot-1{
    width:1000px;
    height:230px;
}
.foot-1-left{
    width:300px;
    height:230px;
    background:url(../img/zi.png);
    margin-left:20px;
    position:relative;
    float: left;
}
.foot-1-left p{
    font-size:12px;
    color:#979797;
    position:absolute;
    bottom:79px;
    left:130px;
}
.foot-1-left span{
      font-size:12px;
    color:#979797;
    position:absolute;
    bottom:40px;
    left:130px;
}
.foot-1-right{
    width:675px;
    height:230px;
    float: right;
    margin-right:5px;
     overflow:hidden;
}
.foot-1-right ul p{
    font-size:15px;
    width:155px;
    height:21px;
    color:white;
    margin-left:5px;
    padding-left:5px;
    line-height:21px;
    background-color:black;
}
.foot-1-right ul li:hover,.foot-1-right ul:hover p{
    background:#676767;
}
.foot-1-right ul li{
    font-size:12px;
    color:#979797;
    margin-left:5px;
    list-style-type: disc;
    list-style-position: inside;
    height:18px;
    width:150px;
    padding-left:10px;
    margin-top:2px;
    line-height:18px;
}
.foot-1-right ul li a{
color:#979797;
}
.foot-1-right ul{
    margin-top:10px;
    float:left;
}
#foot-2{
    width:100%;
    min-width:1000px;
    height:84px;
    background:#303030;
}
.foot-2-1{
    width:582px;
    height:84px;
}
#foot-3{
     width:100%;
    min-width:1000px;
    height:73px;
    background:#1f1f1f;
}
#foot-3 div{
width:1000px;
height:73px;
position:relative;
}
#foot-3 div p{
    text-align:center;
    position:absolute;
    margin-top:20px;
    font-size:13px;
    color:#979797;
}
#foot-3 div span{
     text-align:center;
    position:absolute;
    font-size:10px;
     margin-top:43px;
     color:#979797;
}
#foot-4{
    width:100%;
    min-width:1000px;
    height:113px;
    background:black;
}
.foot-4-1{
    width:1000px;
    height:113px;
    position:relative;
}
.foot-4-1 p{
    color:#fff;
    position:absolute;
    margin-top: 20px;
}